/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Request list empty panel */

.request-list-empty-notice {
  margin: 0;
  flex: 1;
  overflow: auto;
}

.empty-notice-element {
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 1.2rem;
}

.notice-perf-message {
  margin-top: 2px;
  display: flex;
  align-items: center;
}

.requests-list-perf-notice-button {
  min-width: 30px;
  min-height: 26px;
  margin: 0 5px;
  vertical-align: middle;
}

.requests-list-perf-notice-button::before {
  background-image: url(chrome://devtools/skin/images/profiler-stopwatch.svg);
}

.requests-list-reload-notice-button {
  font-size: inherit;
  min-height: 26px;
  margin: 0 5px;
}

/* Requests list table */

.request-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.requests-list-wrapper {
  width: 100%;
  height: 100%;
}

.requests-list-table {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
}

.requests-list-contents {
  display: table-row-group;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  --timings-scale: 1;
  --timings-rev-scale: 1;
}

.requests-list-column {
  display: table-cell;
  cursor: default;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  max-width: 50px;
  min-width: 50px;
}

.requests-list-column > * {
  display: inline-block;
}

.theme-firebug .requests-list-column {
  padding: 1px;
}

/* Requests list headers */

.requests-list-headers-wrapper {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 0;
}

.theme-firebug .requests-list-headers-wrapper {
  padding: 0 !important;
}

.requests-list-headers {
  display: table-header-group;
  height: 24px;
  padding: 0;
  width: 100%;
}

.requests-list-headers .requests-list-column:first-child .requests-list-header-button {
  border-width: 0;
}

.requests-list-header-button {
  background-color: transparent;
  border-image: linear-gradient(transparent 15%,
                                var(--theme-splitter-color) 15%,
                                var(--theme-splitter-color) 85%,
                                transparent 85%) 1 1;
  border-width: 0;
  border-inline-start-width: 1px;
  padding-inline-start: 16px;
  width: 100%;
  min-height: 23px;
  text-align: center;
  color: inherit;
}

.requests-list-header-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.requests-list-header-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.requests-list-header-button > .button-text {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  /* Align button text to center */
  width: calc(100% - 8px);
  overflow: hidden;
  text-overflow: ellipsis;
}

.requests-list-header-button > .button-icon {
  display: inline-block;
  width: 7px;
  height: 4px;
  margin-inline-start: 3px;
  margin-inline-end: 6px;
  vertical-align: middle;
}

.requests-list-header-button[data-sorted=ascending] > .button-icon {
  background-image: var(--sort-ascending-image);
}

.requests-list-header-button[data-sorted=descending] > .button-icon {
  background-image: var(--sort-descending-image);
}

.requests-list-header-button[data-sorted],
.requests-list-header-button[data-sorted]:hover {
  background-color: var(--theme-selection-background);
  color: var(--theme-selection-color);
}

.requests-list-header-button[data-sorted],
.requests-list-column[data-active] + .requests-list-column .requests-list-header-button {
  border-image: linear-gradient(var(--theme-splitter-color), var(--theme-splitter-color)) 1 1;
}

.theme-firebug .requests-list-headers {
  padding: 0 !important;
  font-weight: bold;
  background: linear-gradient(rgba(255, 255, 255, 0.05),
                              rgba(0, 0, 0, 0.05)),
                              #C8D2DC;
}

.theme-firebug .requests-list-header-button {
  min-height: 17px;
}

.theme-firebug .requests-list-header-button > .button-icon {
  height: 7px;
}

.theme-firebug .requests-list-header-button[data-sorted] {
  background-color: #AAC3DC;
}

:root[platform="linux"].theme-firebug .requests-list-header-button[data-sorted] {
  background-color: #FAC8AF !important;
  color: inherit !important;
}

.theme-firebug .requests-list-header-button:hover:active {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1),
                                    transparent);
}

/* Requests list column */

/* Status column */

.requests-list-status {
  width: 8%;
   /* Don't ellipsize status codes */
  text-overflow: initial;
}

.theme-firebug .requests-list-status {
  font-weight: bold;
}

.requests-list-status-code {
  margin-inline-start: 3px;
  width: 3em;
}

.requests-list-status-icon {
  background: #fff;
  height: 10px;
  width: 10px;
  margin-inline-start: 5px;
  margin-inline-end: 5px;
  border-radius: 10px;
  transition: box-shadow 0.5s ease-in-out;
}

.request-list-item.selected .requests-list-status-icon {
  filter: brightness(1.3);
}

.requests-list-status-icon:not([data-code]) {
  background-color: var(--theme-content-color2);
}

.requests-list-status-icon[data-code="cached"] {
  border: 2px solid var(--theme-content-color2);
  background-color: transparent;
}

.requests-list-status-icon[data-code^="1"] {
  background-color: var(--status-code-color-1xx);
}

.requests-list-status-icon[data-code^="2"] {
  background-color: var(--status-code-color-2xx);
}

/* 3xx are triangles */
.requests-list-status-icon[data-code^="3"] {
  background-color: var(--status-code-color-3xx);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid var(--theme-highlight-lightorange);
  border-radius: 0;
}

/* 4xx and 5xx are squares - error codes */
.requests-list-status-icon[data-code^="4"] {
  background-color: var(--status-code-color-4xx);
  border-radius: 0; /* squares */
}

.requests-list-status-icon[data-code^="5"] {
  background-color: var(--status-code-color-5xx);
  border-radius: 0;
  transform: rotate(45deg);
}

/* Method column */

.requests-list-method {
  width: 8%;
}

.theme-firebug .requests-list-method {
  color: rgb(128, 128, 128);
}

/* File column */

.requests-list-file {
  width: 22%;
}

.requests-list-file.requests-list-column {
  text-align: start;
}

/* Protocol column */

.requests-list-protocol {
  width: 8%;
}

/* Cookies column */

.requests-list-cookies {
  width: 6%;
}

/* Set Cookies column */

.requests-list-set-cookies {
  width: 8%;
}

/* Scheme column */

.requests-list-scheme {
  width: 8%;
}

/* Start Time column */

.requests-list-start-time {
  width: 8%;
}

/* End Time column */

.requests-list-end-time {
  width: 8%;
}

/* Response Time column */

.requests-list-response-time {
  width: 10%;
}

/* Duration column */

.requests-list-duration-time {
  width: 8%;
}

/* Latency column */

.requests-list-latency-time {
  width: 8%;
}

/* Response header columns */

.requests-list-response-header {
  width: 10%;
}

/* Domain column */

.requests-list-domain {
  width: 13%;
}

.requests-list-domain.requests-list-column {
  text-align: start;
}

.requests-security-state-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 4px;
  vertical-align: top;
}

.request-list-item.selected .requests-security-state-icon {
  filter: brightness(1.3);
}

.security-state-insecure {
  background-image: url(chrome://devtools/skin/images/security-state-insecure.svg);
}

.security-state-secure {
  background-image: url(chrome://devtools/skin/images/security-state-secure.svg);
}

.security-state-weak {
  background-image: url(chrome://devtools/skin/images/security-state-weak.svg);
}

.security-state-broken {
  background-image: url(chrome://devtools/skin/images/security-state-broken.svg);
}

.security-state-local {
  background-image: url(chrome://devtools/skin/images/globe.svg);
}

/* RemoteIP column */

.requests-list-remoteip {
  width: 9%;
}

/* Cause column */

.requests-list-cause {
  width: 9%;
}

.requests-list-cause-stack {
  display: inline-block;
  background-color: var(--theme-body-color-alt);
  color: var(--theme-body-background);
  font-size: 8px;
  font-weight: bold;
  line-height: 10px;
  border-radius: 3px;
  padding: 0 2px;
  margin: 0;
  margin-inline-end: 3px;
}

/* Type column */

.requests-list-type {
  width: 6%;
}

/* Transferred column */

.requests-list-transferred {
  width: 9%;
}

/* Size column */

.requests-list-size {
  width: 7%;
}

.theme-firebug .requests-list-size {
  justify-content: end;
  padding-inline-end: 4px;
}

/* Waterfall column */

.requests-list-waterfall {
  width: 20vw;
  max-width: 20vw;
  min-width: 20vw;
  background-repeat: repeat-y;
  background-position: left center;
  /* Background created on a <canvas> in js. */
  /* @see devtools/client/netmonitor/src/waterfall-background.js */
  background-image: -moz-element(#waterfall-background);
}

.requests-list-waterfall:dir(rtl) {
  background-position: right center;
}

.requests-list-waterfall > .requests-list-header-button {
  padding-inline-start: 0;
}

.requests-list-waterfall > .requests-list-header-button > .button-text {
  width: auto;
}

.requests-list-waterfall-label-wrapper:not(.requests-list-waterfall-visible) {
  padding-inline-start: 16px;
}

.requests-list-timings-division {
  display: inline-block;
  padding-inline-start: 4px;
  font-size: 75%;
  pointer-events: none;
  text-align: start;
}

:root[platform="win"] .requests-list-timings-division {
  padding-top: 1px;
  font-size: 90%;
}

.requests-list-timings-division:not(:first-child) {
  border-inline-start: 1px dashed;
}

.requests-list-timings-division:dir(ltr) {
  transform-origin: left center;
}

.requests-list-timings-division:dir(rtl) {
  transform-origin: right center;
}

.theme-dark .requests-list-timings-division {
  border-inline-start-color: #5a6169 !important;
}

.theme-light .requests-list-timings-division {
  border-inline-start-color: #585959 !important;
}

.requests-list-timings-division[data-division-scale=second],
.requests-list-timings-division[data-division-scale=minute] {
  font-weight: 600;
}

.requests-list-timings {
  display: flex;
  flex: none;
  align-items: center;
  transform: scaleX(var(--timings-scale));
}

.requests-list-timings:dir(ltr) {
  transform-origin: left center;
}

.requests-list-timings:dir(rtl) {
  transform-origin: right center;
}

.requests-list-timings-box {
  display: inline-block;
  height: 9px;
}

.theme-firebug .requests-list-timings-box {
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.2));
  height: 16px;
}

.requests-list-timings-box.blocked {
  background-color: var(--timing-blocked-color);
}

.requests-list-timings-box.dns {
  background-color: var(--timing-dns-color);
}

.requests-list-timings-box.connect {
  background-color: var(--timing-connect-color);
}

.requests-list-timings-box.ssl {
  background-color: var(--timing-ssl-color);
}

.requests-list-timings-box.send {
  background-color: var(--timing-send-color);
}

.requests-list-timings-box.wait {
  background-color: var(--timing-wait-color);
}

.requests-list-timings-box.receive {
  background-color: var(--timing-receive-color);
}

.requests-list-timings-total {
  display: inline-block;
  padding-inline-start: 4px;
  font-size: 85%;
  font-weight: 600;
  white-space: nowrap;
  /* This node should not be scaled - apply a reversed transformation */
  transform: scaleX(var(--timings-rev-scale));
}

.requests-list-timings-total:dir(ltr) {
  transform-origin: left center;
}

.requests-list-timings-total:dir(rtl) {
  transform-origin: right center;
}

/* Request list item */

.request-list-item {
  position: relative;
  display: table-row;
  height: 24px;
}

.request-list-item.selected {
  background-color: var(--theme-selection-background);
  color: var(--theme-selection-color);
}

.request-list-item:not(.selected).odd {
  background-color: var(--table-zebra-background);
}

.request-list-item:not(.selected):hover {
  background-color: var(--theme-selection-background-hover);
}

.request-list-item.fromCache > .requests-list-column:not(.requests-list-waterfall) {
  opacity: 0.6;
}

.theme-firebug .request-list-item:not(.selected):hover {
  background: #EFEFEF;
}

/* Responsive web design support */

@media (max-width: 700px) {
  .requests-list-header-button {
    padding-inline-start: 8px;
  }

  .requests-list-status-code {
    width: auto;
  }

  .requests-list-size {
    /* Given a fix max-width to display all columns in RWD mode */
    max-width: 7%;
  }

  .requests-list-waterfall {
    display: none;
  }

  :root[platform="linux"] .requests-list-header-button {
    font-size: 85%;
  }
}
